@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/screen.scss */
body,
html {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans GB", "Heiti SC" , "STXihei", "华文细黑", "Microsoft YaHei", "微软雅黑","sans-serif";
  font-size: 62.5%;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 24, ../sass/screen.scss */
a {
  color: #1297ff;
  text-decoration: none;
}

/* line 29, ../sass/screen.scss */
.form-title {
  font-size: 24px;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 30px;
  color: #1297ff;
}

/* line 36, ../sass/screen.scss */
.form-wrapper {
  max-width: 480px;
  min-width: 320px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
}
/* line 45, ../sass/screen.scss */
.form-wrapper p {
  font-size: 15px;
  font-size: 1.5rem;
  color: #666;
  line-height: 2.1rem;
}

/* line 55, ../sass/screen.scss */
input,
textarea,
.js-float-option-wrapper {
  position: relative;
  font-family: inherit;
  display: block;
  width: 100%;
  border: 1px solid #eee;
  margin: 10px 0;
  padding: 10px;
  color: #aaa;
  font-size: 20px;
  font-size: 2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 68, ../sass/screen.scss */
input:hover,
textarea:hover,
.js-float-option-wrapper:hover {
  border-color: #ccc;
}

/* line 74, ../sass/screen.scss */
input,
textarea {
  background-color: transparent;
}
/* line 76, ../sass/screen.scss */
input:focus,
textarea:focus {
  border: 1px solid #ccc;
  color: #333;
  -webkit-outline: none;
  -moz-outline: none;
  outline: none;
}

@-moz-document url-prefix() {
  /* line 88, ../sass/screen.scss */
  input,
  textarea {
    padding-top: 13px;
    padding-bottom: 8px;
  }

  /* line 92, ../sass/screen.scss */
  #send {
    padding-top: 10px;
  }
}

/* line 97, ../sass/screen.scss */
.error-message {
  font-size: 12px;
  font-size: 1.2rem;
  color: #fc333f;
  display: none;
  position: relative;
  margin-top: -3px;
}

/* line 105, ../sass/screen.scss */
.float-lable {
  font-size: 12px;
  font-size: 1.2rem;
  color: #aaa;
}

/* line 113, ../sass/screen.scss */
.js-float-label-wrapper.focused label,
.js-float-label-wrapper.focused.populated label,
.js-float-option-wrapper.focus label,
.js-float-option-wrapper.focus.populated label {
  color: #1297ff;
}

/* line 117, ../sass/screen.scss */
.js-float-label-wrapper.populated label,
.js-float-option-wrapper.populated label {
  color: #666;
}

/* line 124, ../sass/screen.scss */
.js-float-label-wrapper.focused input,
.js-float-label-wrapper.focused.populated input,
.js-float-label-wrapper.populated input,
.js-float-option-wrapper.populated .js-float-select-status {
  color: #333;
}

/* line 129, ../sass/screen.scss */
.js-float-label-wrapper.focused input,
.js-float-option-wrapper.focus {
  border-color: #1297ff;
}

/* line 135, ../sass/screen.scss */
.js-float-label-wrapper.focused .js-float-label-placeholder,
.js-float-label-wrapper.focused.populated .js-float-label-placeholder,
.js-float-label-wrapper.populated .js-float-label-placeholder {
  display: none;
}

/* line 140, ../sass/screen.scss */
.js-float-label-wrapper.error input,
.js-float-option-wrapper.error {
  border-color: #fc333f;
  position: relative;
}

/* line 145, ../sass/screen.scss */
.js-float-label-placeholder {
  z-index: 0;
  position: absolute;
  font-size: 20px;
  font-size: 2rem;
  color: #aaa;
  top: 14px;
  left: 10px;
}

/* line 155, ../sass/screen.scss */
.js-float-label-wrapper.error .error-message,
.js-float-option-wrapper.error + .error-message {
  display: block;
}

/* line 160, ../sass/screen.scss */
.js-float-label-wrapper {
  position: relative;
}

/* line 165, ../sass/screen.scss */
.js-float-label-wrapper label,
.js-float-option-wrapper label {
  position: absolute;
  top: 10px;
  left: 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transform: translate3d(0, 2px, 0);
  -moz-transform: translate3d(0, 2px, 0);
  -ms-transform: translate3d(0, 2px, 0);
  -o-transform: translate3d(0, 2px, 0);
  transform: translate3d(0, 2px, 0);
  -webkit-transition: 0.2s ease-out !important;
  -moz-transition: 0.2s ease-out !important;
  -o-transition: 0.2s ease-out !important;
  transition: 0.2s ease-out !important;
  color: #666;
  font-weight: bold;
}

/* line 178, ../sass/screen.scss */
.js-float-label-wrapper.focused label,
.js-float-label-wrapper.populated label,
.js-float-option-wrapper.focus label,
.js-float-option-wrapper.populated label {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 186, ../sass/screen.scss */
.js-float-label-wrapper.focused input,
.js-float-label-wrapper.populated input,
.js-float-label-wrapper.focused textarea,
.js-float-label-wrapper.populated textarea {
  padding-top: 25px;
  padding-bottom: 7px;
}

/* line 192, ../sass/screen.scss */
.js-float-option-wrapper.populated,
.js-float-option-wrapper.focus {
  padding-bottom: 5px;
}

/* line 197, ../sass/screen.scss */
.js-float-option-wrapper.focus .js-float-select-status,
.js-float-option-wrapper.populated .js-float-select-status {
  padding-top: 15px;
}

/* line 203, ../sass/screen.scss */
.js-float-label-wrapper input,
.js-float-label-wrapper textarea,
.js-float-label-wrapper label {
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

/* line 208, ../sass/screen.scss */
.js-float-option-wrapper {
  position: relative;
}
/* line 210, ../sass/screen.scss */
.js-float-option-wrapper select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 45px;
  background-color: transparent;
  opacity: 0;
}
/* line 221, ../sass/screen.scss */
.js-float-option-wrapper label {
  font-size: 12px;
  font-size: 1.2rem;
  position: absolute;
}
/* line 226, ../sass/screen.scss */
.js-float-option-wrapper .js-float-select-status {
  line-height: 23px;
}

/* line 231, ../sass/screen.scss */
.reason-description {
  border-top: 1px solid #ddd;
  margin-top: 6px;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 16px;
  display: none;
}
/* line 237, ../sass/screen.scss */
.reason-description p {
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
}
/* line 242, ../sass/screen.scss */
.reason-description ol {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 16px;
  color: #888;
}
/* line 248, ../sass/screen.scss */
.reason-description li {
  margin-top: 6px;
}

/* line 253, ../sass/screen.scss */
#send {
  background-color: white;
  border-color: #1297ff;
  color: #1297ff;
  height: 46px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
/* line 262, ../sass/screen.scss */
#send:hover {
  background-color: #d1ecff;
}
/* line 265, ../sass/screen.scss */
#send:active {
  background-color: #1297ff;
  color: white;
}

/* line 271, ../sass/screen.scss */
.blackout {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  background-color: black;
  z-index: 100;
}

/* line 280, ../sass/screen.scss */
.modal {
  font-size: 20px;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 101;
  line-height: 2.6rem;
  height: 25px;
  width: 320px;
  margin-left: -160px;
  margin-top: -12px;
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
